<form [formGroup]="form">
    <div class="formulario">
        <div class="nombre">
           <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
           </mat-form-field> 
        </div>   
        <div class="apellido">
           <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="apellido">
           </mat-form-field> 
        </div>
        <div class="mail">
           <mat-form-field>
            <mat-label>Mail</mat-label>
            <input matInput type="text" formControlName="email">
           </mat-form-field> 
        </div>
        <div class="dni">
           <mat-form-field>
            <mat-label>dni</mat-label>
            <input matInput type="number" formControlName="dni">
           </mat-form-field> 
        </div>
        <div class="telefono">
         <mat-form-field>
          <mat-label>telefono</mat-label>
          <input matInput type="text" formControlName="telefono">
         </mat-form-field> 
      </div>
        <div class="fecha">
           <mat-form-field>
            <mat-label>fecha de nacimiento</mat-label>
            <input matInput type="date" formControlName="fecha_nacimiento">
           </mat-form-field> 
        </div>
        <div class="contrasena">
           <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password">
           </mat-form-field> 
        </div>
        <div *ngIf="userRole === 'administrador'" class="rol">
         <mat-form-field>
           <mat-label>Rol</mat-label>
           <mat-select formControlName="rol">
             <mat-option value="medico">Médico</mat-option>
             <mat-option value="administrador">Administrador</mat-option>
             <mat-option value="operador">Operador</mat-option>
           </mat-select>
         </mat-form-field>
       </div>
       <div *ngIf="userRole === 'administrador'" class="rol">
         <div *ngIf="form.get('rol')?.value === 'medico'">
         <mat-form-field>
           <mat-label>Especialidad</mat-label>
           <mat-select formControlName="especialidadId">
             <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.id"> {{especialidad.descripcion}}</mat-option>
           </mat-select>
         </mat-form-field>
      </div>
       </div>
    </div>
    <button (click)="aceptar()">Aceptar</button>
    <button (click)="close()">Cancelar</button>
    </form>