<body>
    
    <div class="funciones">
        <h3>Haz clic en algunas de las funciones principales para acceder</h3>

        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="misTurnos()">Mis turnos</button>
        <button mat-menu-item (click)="nuevoTurno()">Nuevos Turno</button>
        <button mat-menu-item (click)="datosPersonales()">Mis datos personales</button>
        <button mat-menu-item (click)="listaUsuarios()">Lista de usuarios (admin)</button>
        <button mat-menu-item (click)="vistaMedico()">Medico</button>
        <button mat-menu-item (click)="vistaOperador()">Operador</button>
        </mat-menu>
    </div>
</body>
