body {
    background-image: url("../../../Img/mediana.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0; 
    padding: 0;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.funciones{
    position: absolute;
    left: 100px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 20px 1px #615555;
    background-color: rgb(238, 230, 230);
    color: black;
    margin-bottom: 25%;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

button[mat-button] {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[mat-button]:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

mat-menu {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
}

mat-menu button[mat-menu-item] {
    color: white; 
}
